{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value == constant('Benji07\\BlogBundle\\Entity\\Post::COMMENT_STATUS_CLOSE') %}
        <span class="label warning">Fermé</span>
    {% elseif value == constant('Benji07\\BlogBundle\\Entity\\Post::COMMENT_STATUS_LIMIT') %}
        <span class="label notice">Limité</span>
    {% else %}
        <span class="label success">Ouvert</span>
    {% endif %}
{% endblock %}