{% extends "::base.html.twig" %}

{% block body %}

<img src="http://graph.facebook.com/benjamin.leveque/picture?type=large" style="float: left; margin-right: 1em"/>

<p>Je m'appelle <strong>Benjamin Lévêque</strong>, j'ai <strong>24 ans</strong> et j'habite à <strong>Lyon</strong>. Je travail pour la société <strong><a href="">Elao</a></strong> depuis 4 ans en tant que <strong>Responsable technique</strong>.</p>

<p>Société pour laquelle je réalise des applications en utilisant <strong>Symfony2</strong>, </strong>Doctrine</strong>, <strong>jQuery</strong> et <strong>Git</strong></p>

<p>J'écris ce blog principalement pour garder une trace de mes <strong>expérimentations</strong> et pour faire de la <strong>veille</strong>.</p>

<p>Vous pouvez me suivre sur le <strong>twitter</strong> et forker mes projets sur <strong>Github</strong>.</p>
<p>
    <a href="https://twitter.com/benji__07" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @benji__07</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <iframe src="http://ghbtns.com/github-btn.html?user=benji07&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132px" height="20px"></iframe>
</p>

{% endblock %}
