{% extends "::base.html.twig" %}

{% block body %}

    {% for link in pagination %}
        <h5><a href="{{ link.url }}">{{ link }}</a> <small>{{ link.createdAt|localizeddate }}</small></h5>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
